@import "../../../styles//responsive.scss";

.line {
    display: flex;
    height: 100%;

    @include sm {
        flex-direction: column;
    }

    .info__general {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        @include sm {
            flex: 1;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 10px;

            @include xxl {
                font-size: 14px;
            }
        }

        p {
            font-weight: bold;
            font-size: 2rem;

            @include xxl {
                font-size: 20px;
            }
        }
    }

    .info__chart {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include sm {
            flex: 1;
        }

        .chart {
            width: 100%;
            height: 100%;
        }

        .desc {
            display: flex;
            flex-direction: column;
            text-align: right;

            .percentage {
                font-size: 20px;
                font-weight: bold;

                @include xxl {
                    font-size: 16px;
                }
            }

            .positive {
                color: limegreen;
            }

            .negative {
                color: tomato;
            }

            .duration {
                font-size: 14px;
            }

        }
    }
}