@import "../../../styles/responsive.scss";

.area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include xxl {
        h1 {
            font-size: 24px;
        }
    }

    .chart {
        width: 100%;
        height: 100%;
    }
}