@import "../../styles/responsive.scss";

.topdeals {
    h1 {
        margin-bottom: 20px;

        @include xxl {
            font-size: 24px;
        }
    }

    .deals {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .deal {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user {
                display: flex;
                gap: 20px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;

                    @include xxl {
                        display: none;
                    }

                    @include xl {
                        display: block;
                    }
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .username {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .email {
                        font-size: 12px;
                    }
                }
            }

            .amount {
                font-weight: 500;
            }
        }
    }
}