@import "../../../styles/responsive.scss";

.pie {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include xxl {
        h1 {
            font-size: 24px;
        }
    }

    .chart {
        width: 100%;
        height: 100%;
    }

    .options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 14px;

        @include lg {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        @include sm {
            flex-wrap: wrap;
        }

        .option {
            width: 45%;
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 2fr;
            grid-template-areas: "a b" "c d";

            .dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                grid-area: a;
                align-self: center;
                justify-self: center;
            }

            .name {
                grid-area: b;
            }

            .value {
                grid-area: d;
            }
        }
    }

}