@import "../../../styles/responsive.scss";

.pie {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include xxl {
        h1 {
            font-size: 24px;
        }
    }

    .chart {
        width: 100%;
        height: 100%;
    }

    .options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 14px;

        @include lg {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .option {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;

            @include lg {
                align-items: center;
            }

            .title {
                display: flex;
                gap: 10px;
                align-items: center;

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
        }
    }

}