@import "../../styles/variables.scss";

.sidebar {
    flex: 1;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;

    .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .title {
            font-size: 12px;
            font-weight: 200;
        }

        .list-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;

            &:hover {
                background-color: $soft-bg
            }

            img {
                height: 1rem;
            }

            .list-item__title {
                font-size: 14px;
            }
        }
    }
}