.users {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
}